@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.nav{
    position: fixed;
    z-index: 999;
    background: rgba(255, 255, 255, 0.15); /* transparent white */
    backdrop-filter: blur(12px);           /* glass effect */
    -webkit-backdrop-filter: blur(12px);
    height: 10vh;
    width: 100%;
    display: flex;
    color: transparent;
    gap: 39%;
    max-width: 90%;
    align-items: center;
    padding: 1em 4.5%;
    color: black;
    border-radius:10px;
    font-family: "Fjalla One", sans-serif;
}

.logo img{
    height: 60px;
    width: auto;
    max-height: 55px;
}

.nav_list{
    display: flex;
    gap:80px;
}

.nav_list li, .nav_list a{
    all:unset;
    cursor: pointer;
}